*.stpr

Stata 102/SMCL
Stata 102/Do
Stata 102/Archived/Do to SMCL

Stata 103/SMCL
Stata 103/Do
Stata 103/Archived/Do to SMCL

Stata 104/SMCL
Stata 104/Do
Stata 104/Archived/Do to SMCL

Stata 201/SMCL
Stata 201/Do

Stata 202/SMCL
Stata 202/Do
